{% load static %}
{#<form method="post">#}
{#    {% csrf_token %}#}
{#    {% comment_ %}#}
{#</form>#}

    <div class="card mb-2" style="background-color: #2e323e">
        <div class="card-body">
            <div class="media forum-item">
                <div class="d-flex flex-row align-items-start">
                    {% if user.profile.image_profile %}
                        <a href="{% url 'profile' user.username %}"><img class="rounded-circle account-img" src="{{ user.profile.image_profile.url }}" width="50" height="50" alt="{{ user.username }}"></a>
                    {% else %}
                        <a href="{% url 'profile' user %}"><img class="rounded-circle account-img" src="{% static 'users/default.png' %}" width="50" height="50" alt="default-profile"></a>
                    {% endif %}
                    <label>
                        <input type="text" placeholder="Description" name="description" class="form-control"/>
                    </label>
                    <textarea class="form-control ml-1 shadow-none textarea" style="margin-left: 5px">
                        {{ comment_form.description }}
                    </textarea>
                </div>
                <div class="mt-2" style="text-align: end">
                    <button class="btn btn-primary btn-sm shadow-none" type="submit">Post comment</button>
                    <a class="btn btn-outline-primary btn-sm ml-1 shadow-none" href="{% url 'main' %}" type="button">Cancel</a>
                </div>
            </div>
        </div>
    </div>