{% load static %}
<div class="mobile_nav">
      <div class="nav_bar">
        {% if user.profile.image.url %}
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" width="50" height="50" alt="">
          {% else %}
                <img class="rounded-circle account-img" src="{% static 'forums/default.png' %}" width="50" height="50" alt="">
          {% endif %}
        <i class="fa fa-bars nav_btn"></i>
      </div>
      <div class="mobile_nav_items">
        <a class="nav text-decoration-none" href="{% url 'category' 'news' %}" ><i class="fas fa-desktop"></i><span>News</span></a>
        <a class="nav text-decoration-none" href="{% url 'category' 'sports' %}"><i class="fas fa-running"></i><span>Sports</span></a>
        <a class="nav text-decoration-none" href="{% url 'category' 'games' %}"><i class="fas fa-gamepad"></i><span>Games</span></a>
        <a class="nav text-decoration-none" href="{% url 'category' 'fashion' %}"><i class="fas fa-tshirt"></i><span>Fashion</span></a>
        <a class="nav text-decoration-none" href="{% url 'category' 'technology' %}"><i class="fas fa-microchip"></i><span>Technology</span></a>
        <a class="nav text-decoration-none" href="{% url 'profile' user %}"><i class="fas fa-sliders-h"></i><span>Settings</span></a>
      </div>
</div>