{% extends 'forums/base.html' %}
{% load static %}
<!-- CSS only -->
{% block css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static 'forums/main.css' %}">
{% endblock %}
{% block content %}
    <input type="checkbox" id="check">
    <!--header area start-->
    {% include 'event/navbar.html' %}
    <!--header area end-->
    <!--mobile navigation bar start-->
    <div class="mobile_nav">
      <div class="nav_bar">
        <img src="{% static 'forums/user-icon.png' %}" class="mobile_profile_image" alt="">
        <i class="fa fa-bars nav_btn"></i>
      </div>
      <div class="mobile_nav_items">
        <a href="#"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
        <a href="#"><i class="fas fa-cogs"></i><span>Components</span></a>
        <a href="#"><i class="fas fa-table"></i><span>Tables</span></a>
        <a href="#"><i class="fas fa-th"></i><span>Forms</span></a>
        <a href="#"><i class="fas fa-info-circle"></i><span>About</span></a>
        <a href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a>
      </div>
    </div>
    <!--mobile navigation bar end-->
    <!--sidebar start-->
    <div class="sidebar">
      <div class="profile_info">
        <img src="{% static 'forums/user-icon.png' %}" class="profile_image" alt="">
          {% if user.is_authenticated %}
            <h4>{{ user.username }}</h4>
          {% else %}
              <h4>Guest</h4>
          {% endif %}
          <div class="container">
            <div class="row" style=" color: gainsboro;">
                {% if not user.is_authenticated %}
                    <div class="col" ><a href="{% url 'sign_in_and_sign_up' %}"><i class="fas fa-user-plus" style="font-size: 20px"></i></a></div>
                    <div class="col" style="font-size: 20px"><a href="{% url 'sign_in_and_sign_up' %}"><i class="fas fa-cog"></i></a></div>
                {% endif %}
                {% if user.is_authenticated %}
                    <div class="col" style="font-size: 20px"><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i></a></div>
                    <div class="col" style="font-size: 20px"><a href="#"><i class="fas fa-cog"></i></a></div>
                {% endif %}
            </div>
          </div>
      </div>
      <a class="nav text-decoration-none" href="#" ><i class="fas fa-desktop"></i><span>News</span></a>
      <a class="nav text-decoration-none" href="#"><i class="fas fa-running"></i><span>Sports</span></a>
      <a class="nav text-decoration-none" href="#"><i class="fas fa-gamepad"></i><span>Games</span></a>
      <a class="nav text-decoration-none" href="#"><i class="fas fa-tshirt"></i><span>Fashion</span></a>
      <a class="nav text-decoration-none" href="#"><i class="fas fa-microchip"></i><span>Technology</span></a>
      <a class="nav text-decoration-none" href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a>
    </div>
    <!--sidebar end-->

    <!--search result start-->
    <div class="content">
    {% if searched %}
        <div style="text-align: center;"><h1 style="color: #FFFFFF">You search {{ searched }} for what</h1></div>
        {% for post in post %}
            <div class="card">
                <p><a href="{% url 'detail' post.pk %}">{{ post }}</a></p>
            </div>
        {% endfor %}
    {% else %}
        <div style="text-align: center;"><h1 style="color: #FFFFFF">You forgot to search idiot</h1></div>
    {% endif %}
{#        {% if object_list %}#}
{#            {% for post in object_list %}#}
{#                  <div class="card">#}
{#                    <p>{{ post.title }}</p>#}
{#                  </div>#}
{#            {% endfor %}#}
{#        {% else %}#}
{#            <div style="text-align: center;"><h1 style="color: #FFFFFF">Not forums</h1></div>#}
{#        {% endif %}#}
    </div>
    <!--search result end-->

    <script src="{% static 'forums/main.js' %}"></script>
{% endblock %}