{% load static %}
    <div class="sidebar">
      <div class="profile_info">
         {% if user.profile.image_profile %}
            <img class="rounded-circle account-img" src="{{ user.profile.image_profile.url }}" width="100" height="100" alt="{{ user.user.username }}">
          {% else %}
            <img class="profile_image" src="{% static 'users/default.png' %}" alt="default-profile">
        {% endif %}
      {% if user.is_authenticated %}
        <h4 style="color: #FB0A52">{{ user.username }}</h4>
      {% else %}
        <h4 style="color: #FB0A52">Guest</h4>
      {% endif %}
          <div class="container">
            <div class="row" style=" color: gainsboro;">
                {% if user.is_authenticated %}
                    <div class="col" style="font-size: 20px"><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i></a></div>
                {% else %}
                    <div class="col" ><a href="{% url 'register_user' %}"><i class="fas fa-user-plus" style="font-size: 20px"></i></a></div>
                {% endif %}
                    <div class="col" style="font-size: 20px"><a href="{% url 'profile' user %}"><i class="fas fa-cog"></i></a></div>
            </div>
          </div>
      </div>
      <div class="wrapper">
          <a class="nav text-decoration-none" href="{% url 'category' 'news' %}" ><i class="fas fa-desktop"></i><span>News</span></a>
          <a class="nav text-decoration-none" href="{% url 'category' 'harassment' %}" ><i class="fas fa-users"></i><span>Harassment</span></a>
          <a class="nav text-decoration-none" href="{% url 'category' 'sports' %}"><i class="fas fa-running"></i><span>Sports</span></a>
          <a class="nav text-decoration-none" href="{% url 'category' 'games' %}"><i class="fas fa-gamepad"></i><span>Games</span></a>
          <a class="nav text-decoration-none" href="{% url 'category' 'fashion' %}"><i class="fas fa-tshirt"></i><span>Fashion</span></a>
          <a class="nav text-decoration-none" href="{% url 'category' 'technology' %}"><i class="fas fa-microchip"></i><span>Technology</span></a>
          <a class="nav text-decoration-none" href="{% url 'category' 'music' %}"><i class="fas fa-music"></i><span>Music</span></a>
          <a class="nav text-decoration-none" href="{% url 'category' 'technology' %}"><i class="fas fa-film"></i><span>Movie</span></a>
          <a class="nav text-decoration-none" href="{% url 'category' 'gourmet' %}"><i class="fas fa-utensils"></i><span>Gourmet</span></a>
      </div>
</div>