{% load static %}
    <div class="sidebar">
      <div class="profile_info">
        <img src="{% static 'forums/user-icon.png' %}" class="profile_image" alt="">
          {% if user.is_authenticated %}
            <h4>{{ user.username }}</h4>
          {% else %}
              <h4>Guest</h4>
          {% endif %}
          <div class="container">
            <div class="row" style=" color: gainsboro;">
                {% if not user.is_authenticated %}
                    <div class="col" ><a href="{% url 'sign_in_and_sign_up' %}"><i class="fas fa-user-plus" style="font-size: 20px"></i></a></div>
                    <div class="col" style="font-size: 20px"><a href="{% url 'sign_in_and_sign_up' %}"><i class="fas fa-cog"></i></a></div>
                {% endif %}
                {% if user.is_authenticated %}
                    <div class="col" style="font-size: 20px"><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i></a></div>
                    <div class="col" style="font-size: 20px"><a href="#"><i class="fas fa-cog"></i></a></div>
                {% endif %}
            </div>
          </div>
      </div>
      <a class="nav text-decoration-none" href="{% url 'category' 'news' %}" ><i class="fas fa-desktop"></i><span>News</span></a>
      <a class="nav text-decoration-none" href="{% url 'category' 'harassment' %}" ><i class="fas fa-users"></i><span>Harassment</span></a>
      <a class="nav text-decoration-none" href="{% url 'category' 'sports' %}"><i class="fas fa-running"></i><span>Sports</span></a>
      <a class="nav text-decoration-none" href="{% url 'category' 'games' %}"><i class="fas fa-gamepad"></i><span>Games</span></a>
      <a class="nav text-decoration-none" href="{% url 'category' 'fashion' %}"><i class="fas fa-tshirt"></i><span>Fashion</span></a>
      <a class="nav text-decoration-none" href="{% url 'category' 'technology' %}"><i class="fas fa-microchip"></i><span>Technology</span></a>
      <a class="nav text-decoration-none" href="{% url 'category' 'music' %}"><i class="fas fa-music"></i><span>Music</span></a>
      <a class="nav text-decoration-none" href="{% url 'category' 'gourmet' %}"><i class="fas fa-utensils"></i><span>Gourmet</span></a>
</div>