{% extends 'forums/base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'forums/sign_in_and_sign_up.css' %}" rel="stylesheet" type="text/css" />
    {% if form_register.errors %}
        {% for field in form_register %}
            {% for error in field.errors %}
                <div class="alert alert-danger " role="alert">
                    {{ error }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
  <div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="register" method="post">
            {% csrf_token %}
			<h4>Create Account</h4>
            <h6>Username</h6>
            {{ form_register.username }}
            <h6>Email</h6>
            {{ form_register.email }}
            <h6>Password</h6>
            {{ form_register.password1 }}
            <h6>Confirm Password</h6>
            {{ form_register.password2 }}
            <div class="social-container">
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="{% url 'social:begin' 'facebook' %}" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="{% url 'social:begin' 'github' %}" class="social"><i class="fab fa-github"></i></a>
			</div>
			<button type="submit">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="login" method="post">
            {% csrf_token %}
			<h1>Sign in</h1>
            <label>
                <input type="text" placeholder="Username" name="username"/>
            </label>
            <label>
                <input type="password" placeholder="Password" name="password1"/>
            </label>
            <div class="social-container">
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="{% url 'social:begin' 'facebook' %}" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="{% url 'social:begin' 'github' %}" class="social"><i class="fab fa-github"></i></a>
			</div>
			<a href="#">Forgot your password?</a>
			<button type="submit">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>All are welcome!</h1>
				<p>Please enter your personal details and enjoy together.</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your account.</p>
                <p>Don't have an account? Sign up here.</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
    <script src="{%static 'forums/sign_in_and_sign_up.js'%}"></script>
{% endblock %}