{% extends 'forums/base.html' %}
{% load static %}
{% block content %}
  <link href="{% static 'accounts/sign_in_and_sign_up.css' %}" rel="stylesheet" type="text/css" />
  <div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="register_user" method="post">
            {% csrf_token %}
			<h1>Create Account</h1>
            <h4>Username</h4>
            {{ form_register.username }}
            <h4>Email</h4>
            {{ form_register.email }}
            <h4>Password</h4>
            {{ form_register.password1 }}
            <h4>Confirm Password</h4>
            {{ form_register.password2 }}
            <div class="social-container">
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="{% url 'social:begin' 'facebook' %}" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="{% url 'social:begin' 'github' %}" class="social"><i class="fab fa-github"></i></a>
			</div>
			<button class="submit" type="submit">Sign Up</button>
            <br>
            {% if form_register.errors %}
                {% for field in form_register %}
                    {% for error in field.errors %}
                       <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ error }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
		</form>

	</div>
	<div class="form-container sign-in-container">
		<form action="login/" method="post">
            {% csrf_token %}
			<h1>Sign in</h1>
            <label>
                <input type="text" placeholder="Username" name="username" class="form-control"/>
            </label>
            <label>
                <input type="password" placeholder="Password" name="password1" class="form-control"/>
            </label>
            <div class="social-container">
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="{% url 'social:begin' 'facebook' %}" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="{% url 'social:begin' 'github' %}" class="social"><i class="fab fa-github"></i></a>
			</div>
			<a href="{% url 'password_reset' %}">Forgot your password?</a>
			<button type="submit" class="submit">Sign In</button>
            <br>
            {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} " role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                {% endfor %}
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>All are welcome!</h1>
				<p>Please enter your personal details and enjoy together.</p>
				<button class="ghost submit" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your account.</p>
                <p>Don't have an account? Sign up here.</p>
				<button class="ghost submit" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
    <script src="{%static 'accounts/sign_in_and_sign_up.js' %}"></script>
{% endblock %}