{% extends 'forums/base.html' %}
{% load static %}
{% block content %}
<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style= "background-color: black; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style=" width: 150px;">
                <img src="{{ user_profile.image_profile.url }}" alt="{{ user_post.username }}" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
                {% if user.username == user_post.username %}
                <button type="button" class="btn btn-danger" data-mdb-ripple-color="dark" style="z-index: 1;">
                    <a href="{% url 'edit_profile' user_post.username %}" class="text-decoration-none" style="color: #FFFFFF">Edit profile</a>
                </button>
                {% endif %}
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5>{{ user_post.username }}</h5>
              <p>{{ user_post.email }}</p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} " role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                {% endfor %}
              <div>
                <p class="mb-1 h5">{{ post_user.count }}</p>
                <p class="small text-muted mb-0">Post</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1" style="font-weight: 900">About</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                    {{ user_profile.bio }}
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0" style="font-weight: 900">All forums you've created.</p>
            </div>
            {% if post_user %}
                {% for post in post_user %}
                    <a href="{% url 'detail' post.pk %}" class="text-decoration-none">
                        <div class="card" style="background-color:white; border-radius: 10px;">
                            <p style="color: #091121; font-size: 20px; font-weight: 650; padding-left: 20px; padding-top: 10px; ">{{ post.title }}<br>
                                created by
                                <span style="color: #fb084c; ">{{ post.user.username }}</span>
                                <span style="color: #161b28; font-size: small">({{ post.post_date }})</span>
                            </p>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                 <h1>You have not posted a forum yet.</h1>
            {% endif %}
          <a role="button" class="btn btn-primary me-3" href="{% url 'main' %}" style="margin: 10px">Back</a>
            </div>
          </div>
        </div>
      </div>
    </div>

</section>

{% endblock %}