{% extends "forums/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section text-center">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" width="300" height="300">
        <div class="media-body">
          <h2 class="text-info">{{ user.username }}</h2>
          <p class="text-info">{{ user.email }}</p>
        </div>
      </div>
    </div>

<a role="button" class="btn btn-primary me-3" href="{% url 'main' %}">Back</a>

{% endblock content %}